<html>
	<head>
		<title>
			{% block title %}
			{% if page.title is not empty %} {{page.title}} |{% endif %}
			Nate Jones
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{baseUrl}}assets/main.css"/>
	</head>
	<body>
		<div id="content">
			{% block content %}
			{% if page.title is not empty %}
			<h1>{{page.title}}</h1>
			{% endif %}
			{{page.text | raw}}
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			Copyright 2019
			{% endblock %}
		</div>
	</body>
</html>
